.upDltCourse {
  position: relative;
  top: 4rem;
  max-width: calc(100% - 18rem);
  max-height: 100%;
  left: 18rem;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.685);
}
.sidebar.close ~ .upDltCourse {
  left: 5rem;
  max-width: calc(100% - 6rem);
}
.upDltCourse h1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: left;
  margin-left: 2rem;
  color: rgb(87, 86, 86);
  padding-top: 1rem;
}
.upDltCourseF {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
}
#notiSearch {
  margin-left: 5rem;
  margin-top: 2rem;
  max-width: 50%;
}
button[type="submit"] {
  max-width: 50px;
  padding: 5px 20px;
  background-color: aliceblue;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
}
button[type="submit"]:hover {
  color: rgb(255, 253, 253);
  background-color: aqua;
  border: 2px solid aqua;
}
.upDltFiles button i {
  font-weight: 700;
  font-size: 20px;
  color: rgb(45, 185, 250);
}
.upDltCourseF label {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}
.upDltCourseF select,
input[type="time"] {
  max-width: 50%;
  background-color: rgb(255, 255, 255);
}
#courseSearch {
  border: 2px solid rgb(112, 111, 111);
  border-radius: 10px;
  max-width: 200px;
  word-wrap: wrap;
  margin-left: 5rem;
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 300;
  background-color: white;
  color: rgb(112, 111, 111);
}

.upDltCourseF .dltUpbtn {
  margin: 2rem;
}
.upDltCourseF button {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  max-width: 200px;
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .upDltCourse {
    left: 5rem;
    max-width: calc(100% - 5rem);
    z-index: 100;
    margin: 2rem 0;
  }
  .sidebar.close ~ .upDltCourse {
    left: 0;
    max-width: 100%;
  }
  .upDltCourseF {
    margin: 1rem;
  }
  .upDltCourseF select,
  input[type="datetime-local"] {
    max-width: 100%;
  }
}
