.allFileView {
  position: relative;
  top: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 18rem);
  left: 18rem;
  transition: all 0.5s ease;
  /* background-color: rgba(199, 199, 199, 0.685); */
}
.sidebar.close ~ .allFileView {
  left: 5rem;
  max-width: calc(100% - 6rem);
}
.fileSearch-section {
  margin: 2rem;
  max-width: 100%;
}
.fileSearch-section input[type="text"] {
  max-width: 100%;
  border-radius: 10px;
  border: 2px solid rgb(186, 115, 252);
  color: rgb(136, 9, 255);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
  margin: 2rem;
  font-size: 1.2rem;
}

td,
th {
  border: 2px solid #d9a4f3;
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .allFileView {
    left: 5rem;
    max-width: calc(100% - 5rem);
    z-index: 100;
    margin: 2rem 0;
  }
  .sidebar.close ~ .allFileView {
    left: 0;
    max-width: 100%;
  }
}
