.student-reg {
  position: relative;
  top: 4rem;
  height: 100%;
  max-width: calc(100% - 18rem);
  left: 18rem;
  transition: all 0.5s ease;
  margin: 2rem 1rem;
  /* background-color: rgba(199, 199, 199, 0.685); */
}
.sidebar.close ~ .student-reg {
  left: 5rem;
  max-width: calc(100% - 6rem);
}
.student-reg h1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}
.student-regF {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}
.student-regF fieldset {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1rem;
}
.student-regF fieldset legend {
  font-weight: 600;
  font-size: 1.7rem;
  margin-left: 50px;
}
.student-regF label {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.student-regF input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 2px;
  max-width: 100%;
}
.student-regF input[type="file"] {
  margin: 1rem 2rem;
}
.student-regF input[type="submit"] {
  padding: 1rem;
  margin: 2rem 0;
  max-width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .student-reg {
    left: 5rem;
    max-width: calc(100% - 5rem);
    z-index: 100;
    margin: 2rem 0;
  }
  .sidebar.close ~ .student-reg {
    left: 0;
    max-width: 100%;
  }
  .student-regF {
    margin: 2rem 0;
  }
  .student-regF input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"] {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2px;
    max-width: 75%;
  }
}
